@page "{num?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4 mb-4">Welcome</h1>
    <div class="h4">
        @{
             int n = Model.Num * 2;
             <Text>※整数 @Model.Num の２倍は、@n です。</Text>
         }
    </div>
</div>