@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string[] data = new[] { "one", "two", "three", "four", "five" };

    Func<dynamic, object> hello = @<p class="display-4">Hello, @item !!</p>;

    Func<dynamic, object> showList = @<ul class="h4">
            @foreach (var ob in item)
                {
                <li>@ob</li>
                }
    </ul>;
}

<div>
    <h1 class="display-4 mb-4">@hello("Hanako")</h1>
    <p class="h4">@showList(data)</p>
</div>
