@page "{num?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4 mb-4">Welcome</h1>
    <p class="h4">@Model.Num  は、
        <b>@(Model.Num % 2 == 0 ? "偶数" : "奇数") </b>です。</p>
</div>